*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.background{
    background-image: url("./assets/bgpokemon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
}
.flexer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
}
@media screen and (max-width: 720px) {
    .flexer {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        max-width: 720px;
    }
  }
@media screen and (max-width: 1080px) {
    .flexer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1080px;
    }
  }
  @media screen and (max-width: 320px) {
    .flexer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 320px;
    }
  }
  @media screen and (max-width: 1920px) {
    .flexer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1920px;
    }
  }
.types{
    background-image: url("./assets/bgpokemon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    font-size: 50px;
    opacity: 1.0;
}
h1.text-capitalize{
    font-size: 50px;
    opacity: 1.0;
}
.imgBox{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: row;
    width: auto;
}
img.img-fluid{
    border-radius: 16px;
    border: #000 solid 2px;
}
p.fw-bold{
    color: #C37B89;
    font-size: 20px;
}
p.card-text{
    color: #000;
    font-size: 20px;
}
.self{
    background: linear-gradient(90deg, rgba(255,170,170,1) 0%, rgba(252,255,107,1) 100%, rgba(255,0,0,1) 100%);
}
.inputBox{
    background-color:  	#FFC000;
    color: #fff;
    font-weight: bold;
    border-radius: 16px;
}
.btn01{
    background-color: #B87333;
    color: #fff;
    font-weight: bold;
    border-radius: 16px;
}
.card,.search-card{
    width: 20rem; 
    background: 	#FAD5A5;
    border-radius: 16px;
    margin-top: 20px;

}
.fire{
    background-color: #EE8130;
    font-family: 'Fjalla One', sans-serif;
}
.flying{
    background-color: #A98FF3;
    font-family: 'Fjalla One', sans-serif;
}
.grass{
    background-color: #7AC74C;
    font-family: 'Fjalla One', sans-serif;
}
.water{
    background-color: #6390F0;
    font-family: 'Fjalla One', sans-serif;
}
.normal{
    background-color: #A8A77A;
    font-family: 'Fjalla One', sans-serif;
}
.fighting{
    background-color: #C22E28;
    font-family: 'Fjalla One', sans-serif;
}
.poison{
    background-color: #A33EA1;
    font-family: 'Fjalla One', sans-serif;
}
.ground{
    background-color: #E2BF65;
    font-family: 'Fjalla One', sans-serif;
}
.rock{
    background-color: #B6A136;
    font-family: 'Fjalla One', sans-serif;
}
.bug{
    background-color: #A6B91A;
    font-family: 'Fjalla One', sans-serif;
}
.electric{
    background-color: #A1871F;
    font-family: 'Fjalla One', sans-serif;
}
.psychic{
    background-color: #F95587;
    font-family: 'Fjalla One', sans-serif;
}
.ice{
    background-color: #638D8D;
    font-family: 'Fjalla One', sans-serif;
}
.ghost{
    background-color: #735797;
    font-family: 'Fjalla One', sans-serif;
}
.dragon{
    background-color: #6F35FC;
    font-family: 'Fjalla One', sans-serif;
}
.dark{
    background-color: #705746;
    font-family: 'Fjalla One', sans-serif;
}
.steel{
    background-color: #B7B7CE;
    font-family: 'Fjalla One', sans-serif;
}
.fairy{
    background-color: #D685AD;
    font-family: 'Fjalla One', sans-serif;
}

h4.water{
    background-color: #FAD5A5;
    color: #6390F0;
    font-family: 'Fjalla One', sans-serif;
}
h4.fire{
    background-color: #FAD5A5;
    color: #EE8130;
    font-family: 'Fjalla One', sans-serif;
}
h4.flying{
    background-color: #FAD5A5;
    color: #A98FF3;
    font-family: 'Fjalla One', sans-serif;
}
h4.grass{
    background-color: #FAD5A5;
    color: #7AC74C;
    font-family: 'Fjalla One', sans-serif;
}
h4.normal{
    background-color: #FAD5A5;
    color: #A8A77A;
    font-family: 'Fjalla One', sans-serif;
}
h4.fighting{
    background-color: #FAD5A5;
    color: #C22E28;
    font-family: 'Fjalla One', sans-serif;
}
h4.poison{
    background-color: #FAD5A5;
    color: #A33EA1;
    font-family: 'Fjalla One', sans-serif;
}
h4.ground{
    background-color: #FAD5A5;
    color: #E2BF65;
    font-family: 'Fjalla One', sans-serif;
}
h4.rock{
    background-color: #FAD5A5;
    color: #B6A136;
    font-family: 'Fjalla One', sans-serif;
}
h4.bug{
    background-color: #FAD5A5;
    color: #A6B91A;
    font-family: 'Fjalla One', sans-serif;
}
h4.ghost{
    background-color: #FAD5A5;
    color: #735797;
    font-family: 'Fjalla One', sans-serif;
}
h4.electric{
    background-color: #FAD5A5;
    color: #A1871F;
    font-family: 'Fjalla One', sans-serif;
}
h4.psychic{
    background-color: #FAD5A5;
    color: #F95587;
    font-family: 'Fjalla One', sans-serif;
}
h4.ice{
    background-color: #FAD5A5;
    color: #638D8D    ;
    font-family: 'Fjalla One', sans-serif;
}
h4.dragon{
    background-color: #FAD5A5;
    color: #6F35FC;
    font-family: 'Fjalla One', sans-serif;
}
h4.dark{
    background-color: #FAD5A5;
    color: #705746;
    font-family: 'Fjalla One', sans-serif;
}
h4.steel{
    background-color: #FAD5A5;
    color: #B7B7CE;
    font-family: 'Fjalla One', sans-serif;
}
h4.fairy{
    background-color: #FAD5A5;
    color: #D685AD;
    font-family: 'Fjalla One', sans-serif;
}
h4{
    font-weight: bolder;
}
div.col-2{
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.col-2:hover{
    cursor: pointer;
    opacity: 0.9;
}
.navbar{
    background: white;
    border-bottom: 2px solid #4c9a2a
}
.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'Lobster', cursive;   
}
.navbar-brand:hover{
    color: black;
    text-decoration: none;
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}
.nav-link:hover{
    color: black;
    text-decoration: none;
}
.link{
    color: black;
    text-decoration: none;
    font-size: large;
}
.link:hover{
    color: black;
    text-decoration: none;
}
.card01{
    background: #FAD5A5;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
@media screen and (max-width: 600px){
    .card01{
        max-width: 50%;
    }
}
    

.cardaa{

    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 4rem;
    width: 80rem;
}
.cardbb{

    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 10rem;
    width: 80rem;
}
.evolution{
    cursor: pointer;
}
.link{
    text-decoration: none;
}
.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.logo{

  animation: fade 1500ms ease-in-out forwards;
  opacity: 0;
  transform: translateX(50%);
  }
  @keyframes fade {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
    .spinner{
        animation: spin 1s  linear;
    }
    @keyframes spin { 
        to {
    
    transform: rotate(360deg);
        }
    }
    .pokemon-image{
        width: 50%;
        height: 50%;
    }
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: rgb(0, 155, 202);
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
      }
      .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
      }
      @keyframes lds-ellipsis1 {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      @keyframes lds-ellipsis3 {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(0);
        }
      }
      @keyframes lds-ellipsis2 {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(24px, 0);
        }
      }
      .pokeinfo-card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: #FAD5A5;
        border-radius: 16px;
        margin-top: 20px;
        width: 70rem;
    }
    .grid-header{
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .grid-item-01{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .grid-item-02{
        grid-column-start: 3;
        grid-column-end: 5;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr 3fr;
        gap: 10px;
    }
    .grid-item-02-01{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .grid-item-02-02{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .grid-item-02-03{
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .grid-item-02-04{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .grid-item-02-05{
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .grid-item-02-06{
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .grid-item-03{
        grid-column-start: 1;
        grid-column-end: 5;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        border-bottom: #000000 solid 2px;
        
    }  
    .grid-item-04{
        grid-column-start: 1;
        grid-column-end: 5;
    } 
    .grid-item-03-01{
        grid-column-start: 1;
        grid-column-end: 5;
        border-bottom: #000000 solid 2px ;
    }
    .grid-item-03-02{
        grid-column-start: 1;
        grid-column-end: 3;
        padding-left: 2rem;
    }
    .grid-item-03-03{
        grid-column-start: 3;
        grid-column-end: 4;
        border-left: #000000 solid 2px;
        padding-left: 2rem;
        
    }
    .grid-item-03-02, .grid-item-03-03{
        display: flex;
        justify-content: center;
        align-items: center;

    }

        
        .pokeinfo-image{
            width: 20rem;
            height: 20rem;
        }
        .types-flexer{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 10px;
            margin-bottom: 25px;
        }
        .pokedex-flexer{
          display: grid;
          grid-template-columns: auto auto auto auto;
          gap: 10px;
        }
        .resizer{
            font-size: 75px;
        }
        @media screen and (max-width: 1350px){
            .pokedex-flexer{
                display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
        margin-bottom: 25px;

        }
        .pokeinfo-card{
            
            width: 60rem;
            
          }
      }
      @media screen and (max-width: 1080px){
        .pokedex-flexer,.types-flexer{
        display: grid;
        grid-template-columns: auto  auto;
        gap: 10px;
        margin-bottom: 25px;

        }
        .pokeinfo-card{
            width: 50rem;
        }
        .img-sizer{
            width: 10rem;
            height:10rem;
        }
        .resizer{
            font-size: 50px;
        }
      }
      @media screen and (max-width: 900px){
        
        .pokeinfo-card{
            width: 45rem;
        }
        .pokeinfo-image{
            width: 15rem;
            height: 15rem;
        }
        .img-sizer{
            width: 8rem;
            height:8rem;
        }
      }
          
      
          
      @media screen and (max-width: 720px){
        .pokedex-flexer,.types-flexer{
        display: grid;
        grid-template-columns: auto auto auto;
        margin-bottom: 25px;
        gap: 10px;
        }
        .pokeinfo-card{
            width: 35rem;
        }
        .pokeinfo-image{
            width: 25rem;
            height: 25rem;
        }
        .grid-item-01{
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .grid-item-02{
            margin-left: 5px;
            grid-column-start: 1;
            grid-column-end: 5;
        } 
        .grid-item-03{ 
             
            grid-column-start: 1; 
            grid-column-end: 5; 
        } 
        .grid-item-03-02{ 
            grid-column-start: 1; 
            grid-column-end: 5; 
        } 
        .grid-item-03-03{ 
            grid-column-start: 1; 
            grid-column-end: 5; 
            border-top: #000000 solid 2px;
            border-left: none;
        }
        .card{
            width: 12rem; 
            background: 	#FAD5A5;
            border-radius: 16px;
            margin-top: 20px;
        
        }
        .fire{
            background-color: #EE8130;
            font-family: 'Fjalla One', sans-serif;
        }
        .flying{
            background-color: #A98FF3;
            font-family: 'Fjalla One', sans-serif;
        }
        .grass{
            background-color: #7AC74C;
            font-family: 'Fjalla One', sans-serif;
        }
        .water{
            background-color: #6390F0;
            font-family: 'Fjalla One', sans-serif;
        }
        .normal{
            background-color: #A8A77A;
            font-family: 'Fjalla One', sans-serif;
        }
        .fighting{
            background-color: #C22E28;
            font-family: 'Fjalla One', sans-serif;
        }
        .poison{
            background-color: #A33EA1;
            font-family: 'Fjalla One', sans-serif;
        }
        .ground{
            background-color: #E2BF65;
            font-family: 'Fjalla One', sans-serif;
        }
        .rock{
            background-color: #B6A136;
            font-family: 'Fjalla One', sans-serif;
        }
        .bug{
            background-color: #A6B91A;
            font-family: 'Fjalla One', sans-serif;
        }
        .electric{
            background-color: #A1871F;
            font-family: 'Fjalla One', sans-serif;
        }
        .psychic{
            background-color: #F95587;
            font-family: 'Fjalla One', sans-serif;
        }
        .ice{
            background-color: #638D8D;
            font-family: 'Fjalla One', sans-serif;
        }
        .ghost{
            background-color: #735797;
            font-family: 'Fjalla One', sans-serif;
        }
        .dragon{
            background-color: #6F35FC;
            font-family: 'Fjalla One', sans-serif;
        }
        .dark{
            background-color: #705746;
            font-family: 'Fjalla One', sans-serif;
        }
        .steel{
            background-color: #B7B7CE;
            font-family: 'Fjalla One', sans-serif;
        }
        .fairy{
            background-color: #D685AD;
            font-family: 'Fjalla One', sans-serif;
        }
      }
      @media screen and (max-width: 635px){
        .pokedex-flexer,.types-flexer{
        display: grid;
        grid-template-columns: auto auto ;
        gap: 10px;
        margin-bottom: 25px;

        }
        .pokeinfo-card{
            width: 28rem;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .pokeinfo-image{
            width: 20rem;
            height: 20rem;
        }
        .grid-item-01{
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .grid-item-02{
            margin-left: 5px;
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .grid-item-03{
            grid-column-start: 1;
            grid-column-end: 4;
        } 
        
      }
      @media screen and (max-width: 480px){
        .pokedex-flexer,.types-flexer{
        display: grid;
        grid-template-columns: auto auto ;
        gap: 5px;
        margin-bottom: 25px;
        }
        .pokeinfo-card{
            width: 22rem;
        }
        .pokeinfo-image{
            width: 15rem;
            height: 15rem;
        }
        .grid-item-02{
            margin-left: 5px;
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .card{
            width: 10rem; 
            background: 	#FAD5A5;
            border-radius: 16px;
            margin-top: 20px;
        
        }
        .fire{
            background-color: #EE8130;
            font-family: 'Fjalla One', sans-serif;
        }
        .flying{
            background-color: #A98FF3;
            font-family: 'Fjalla One', sans-serif;
        }
        .grass{
            background-color: #7AC74C;
            font-family: 'Fjalla One', sans-serif;
        }
        .water{
            background-color: #6390F0;
            font-family: 'Fjalla One', sans-serif;
        }
        .normal{
            background-color: #A8A77A;
            font-family: 'Fjalla One', sans-serif;
        }
        .fighting{
            background-color: #C22E28;
            font-family: 'Fjalla One', sans-serif;
        }
        .poison{
            background-color: #A33EA1;
            font-family: 'Fjalla One', sans-serif;
        }
        .ground{
            background-color: #E2BF65;
            font-family: 'Fjalla One', sans-serif;
        }
        .rock{
            background-color: #B6A136;
            font-family: 'Fjalla One', sans-serif;
        }
        .bug{
            background-color: #A6B91A;
            font-family: 'Fjalla One', sans-serif;
        }
        .electric{
            background-color: #A1871F;
            font-family: 'Fjalla One', sans-serif;
        }
        .psychic{
            background-color: #F95587;
            font-family: 'Fjalla One', sans-serif;
        }
        .ice{
            background-color: #638D8D;
            font-family: 'Fjalla One', sans-serif;
        }
        .ghost{
            background-color: #735797;
            font-family: 'Fjalla One', sans-serif;
        }
        .dragon{
            background-color: #6F35FC;
            font-family: 'Fjalla One', sans-serif;
        }
        .dark{
            background-color: #705746;
            font-family: 'Fjalla One', sans-serif;
        }
        .steel{
            background-color: #B7B7CE;
            font-family: 'Fjalla One', sans-serif;
        }
        .fairy{
            background-color: #D685AD;
            font-family: 'Fjalla One', sans-serif;
        }
      }
        
      
      